body {
    margin: 0;
    width: 100%;
    background-color: white;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p {
    text-align: center;
}

h1 > img {
    width: 20vh;
}

p {
    margin-bottom: 30px;
}

form {
    box-shadow: 0 -1px 5px 3px rgba(128, 128, 128, 0.137);
    border-radius: 30px;
    padding: 32px 40px;
    margin: auto;
    margin-bottom: 40px;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
}

label {
    margin-top: 0.5em;
    display: block;
}

input, textarea, select {
    border-radius: 5px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 1em;
    border: none;
    box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.329);
    color: #000000;
}

fieldset {
    border: none;
}

legend {
    padding: 0.5em 0;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2;
    font-size: 1.1rem;
    background-color: rgb(147, 0, 192);
    border-radius: 30px;
    min-width: 300px;
    color: white;
}

input[type="submit"]:hover {
    transition: 0.5s ease;
    background-color: rgb(106, 0, 138);
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}



